.person {
    border: 0px;
    width: 230px;
    position: static;
    display: inline-block;
    background-color: rgb(231, 200, 121);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 8px;
    padding: 7px;
}

header {
    background-color: rgb(221, 221, 221);
    border-bottom: 1px solid goldenrod;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header {
    margin: 0 0;
    padding: 0 0;
    text-align: left;
}


.header li {
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block; 
    text-align: center;
    margin-left: 20px;
}

header li:hover {
    color: rgb(233, 198, 3);
}

.body {
    text-align: center;
}

.body li {
    display: inline-block;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 50%;
}

#aboutus {
    background-color: chocolate;
}

#hourofcode {
    background-color: aquamarine;
}

#hourofcode li{
    display: inline-block;
}

.hourofcode p {
    max-height: 200px;
    max-width: 300px;
    min-width: 150px;
    min-height: 100px;
    text-align: justify;
    background-color: aqua;
    padding: 80px;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#websiteproject {
    background-color: lightpink;
}



.websiteproject p {
    max-height: 200px;
    max-width: 300px;
    min-height: 100px;
    min-width: 150px;
    text-align: justify;
    background-color:hotpink;
    padding: 80px;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.codecademy {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}